.about{
    margin-top: 200px;
}

.about__wrapper{
    max-width: $maxWidth;
    margin: $margin;
    padding: $padding;
}

.about__title{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    margin-bottom: 50px;

    h2{
        color: $colorPurple;
    }
}

.about__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;

    @media only screen and (min-width: $breakpoint-laptop) {
        flex-direction: row;
    }
}

.about__img{
    max-width: 250px;

    img{
        border-radius: 999px;
        animation: avatar 3s infinite;
    }
}

@keyframes avatar {
    50% {
        transform: translateY(-10px) rotate(2.5deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

.about__text {
    display: block;
    width: 80%;

    @media only screen and ($breakpoint-tablet){
        display: flex;
        justify-content: center;
    }
}