.btn{
    padding: 0.9rem 1.5rem;
    background-color: $colorPurple;
    border-radius: 6px;
    font-size: 1.3rem;
    font-weight: bold;

    &--large{
        padding: 1rem 5rem;
        border-radius: 32px;
    }

    &--blocked {
        background-color: $colorPurpleHover;
        cursor: not-allowed;
    }

    &--pulse{
        animation: pulse 2s ease infinite;
    }

    &:hover{
        background-color: $colorPurpleHover;
    }
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgb($colorPurple, .7);
    }
    50%{
        box-shadow: 0 0 0 10px rgb($colorPurple, 0);
    }
}