.projects{
    margin-top: 200px;
}

.projects__wrapper  {
    max-width: $maxWidth;
    margin: $margin;
    padding: $padding;

    .projects__buttons{
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .btn{
            padding: 1.7rem 2rem !important;
            font-size: 1.5rem;

            i{
                margin-left: 10px;
            }
        }
    }
}

.projects__title{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    margin-bottom: 100px;

    h2{
        color: $colorPurple;
    }
}

.projects__boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 55px;
    row-gap: 80px;
}

.projects__box{
    position: relative;
    background-color: #2e2e2e;
    padding: 2.5rem 2rem;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;

    .projects__box-img{
        display: flex;
        justify-content: center;
        transform: translateY(-40%);

        img{
            width: 90%;
        }
    }
}

.projects__box-head{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .projects__box-title h4{
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 50px;
            height: 3.5px;
            background-color: $colorPurple;
            border-radius: 15px;
        }
    }

    .projects__box-info{
        display: flex;
        align-items: center;
        gap: 5px;

        .language {
            height: 11px;
            width: 11px;
            border: 2px solid white;
            border-radius: 999px;
            background-color: $colorHTML;
        }
        
        .language-name{
            @media only screen and (max-width: 300px){
                font-size: 1.2rem;
            }
        }
    }
}

.projects__boxes{
    .projects__box{
        &:nth-child(2){
            .projects__box-info .language{
                background-color: $colorJS;
            }
        }
    }
}

.projects__box-authors{
    margin-top: 20px;

    .authors__content{
        display: flex;
        gap: 5px;

        .tooltip {
            position: relative;
            display: flex;
            gap: 5px;

            .tooltip-text{
                position: absolute;
                visibility: hidden;
                top: -5px;
                right: -93px;
                background-color: #fff;
                color: black;
                border-radius: 15px;
                font-size: 1.2rem;
                font-weight: 600;
                padding: 0.5rem 1rem;
                z-index: 2;
            }

            img{
                width: 35px;
                border-radius: 999px;
            }

            &:hover .tooltip-text{
                visibility: visible;
            }
        }
    }
}

.projects__box-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1.3rem;
}