// general section

.general__text {
    font-size: 1rem;

    &--big{
        font-size: 3rem;
    }

    @media only screen and (min-width: $breakpoint-mobile){
        font-size: 1.4rem;
    }

    @media only screen and (min-width: $breakpoint-tablet){
        font-size: 2rem;

        &--big{
            font-size: 4rem;
        }
    }
}

// about section

.about__text{
    font-size: 1.5rem;

    @media only screen and (min-width: $breakpoint-tablet) {
        font-size: 2rem;
    }

    &--big{
        font-size: 3rem;
    }
}

// technologies section

.technologies__text{

    &--small {
        font-size: 1.2rem;
    }

    &--big{
        font-size: 3rem;
    }
}

// projects section

.projects__text{
    font-size: 2rem;

    &--small{
        font-size: 1.6rem;
    }

    &--mid{
        font-size: 2.3rem;
    }

    &--big{
        font-size: 3rem;
    }
}

// contact section 

.contact__text{

    &--mid{
        font-size: 2rem;
    }

    &--big{
        font-size: 3rem;
    }
}