$colorPurple: rgb(88, 100, 228);
$colorPurpleHover: rgb(57, 68, 190);
$colorHTML: rgb(255, 87, 51);
$colorCSS3: rgb(38, 77, 228);
$colorSAAS: rgb(208, 100, 156);
$colorJS: rgb(240, 219, 79);

$fontRegular: Montserrat, sans-serif;
$fontFooter:  Quicksand, sans-serif;

$maxWidth: 1400px;
$padding: 2rem;
$margin: 0 auto;

$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;